
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$morena: #a63f33;
$gob-red-one: #9D2449;
$gob-red-two: #621132;
$gob-red-three: #4E232E;
$gob-red-four: #56242A;
$gob-gold-one: #B38E5D;
$gob-gold-two: #D4C19C;
$light: #eaeaea;

$scale-zero: #3B0068;
$scale-one: #00165D;
$scale-two: #003672;
$scale-three: #005F86;
$scale-four: #008F9A;
$scale-five: #00AD95;
$scale-six: #22BA88;
$scale-seven: #44C782;

$theme-colors: (
    "light": $light,
    "purple": $purple,
    "indigo": $indigo,
    "green": $green,
    "scale-zero": $scale-zero,
    "scale-one": $scale-one,
    "scale-two": $scale-two,
    "scale-three": $scale-three,
    "scale-four": $scale-four,
    "scale-five": $scale-five,
    "morena": $morena,
    "gob-red-one": $gob-red-one,
    "gob-red-two": $gob-red-two,
    "gob-red-three": $gob-red-three,
    "gob-red-four": $gob-red-four,
    "gob-gold-one": $gob-gold-one,
    "gob-gold-two": $gob-gold-two,
);
